* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px 64px 64px 64px;
    font-family: sans-serif;
    font-size: 18px;
}

.container {
    height: 90vh;
    background-image: url(./assets/images/empirestate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 15px 5px #b6b6b6;
}

.page {
    height: 100%;
    background: rgba(255, 255, 255, 0.90);
}

/* header */
header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(233, 233, 235), rgb(215, 215, 217));
    border-bottom: 4px solid rgb(194, 194, 195);
    align-items: center;
}

.colorful-circles {
    display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

#red {
    background-color: #d17962;
}

#orange {
    background-color: #ecbd7f;
}

#green {
    background-color: #72ce69;
}

.loding-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
}

.loding-box div:last-child {
    position: absolute;
    right: 10px;
    font-size: 24px;
}

#lock {
    font-size: 16px;
    margin: 5px;
}

.plus-button {
    font-size: 25px;
    background-color: #d4d5d7;
    padding: 0 10px;
    align-self: flex-end;
}

/* End header */
/* main  */
main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    background-image: linear-gradient(rgb(120, 121, 247), rgb(161, 60, 232));
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landscape {
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    color: #fff;
    margin-bottom: 20px;
}

.card form {
    width: 100%;
    margin-bottom: 36px;
}

.form-item {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    margin: 30px 0;
}

.form-item input {
    border: none;
    outline: none;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

.underline {
    position: absolute;
    height: 1px;
    width: 100%;
    background: #d4d5d7;
    left: 0;
    bottom: 0;
}

.check-box {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 22px;
    font-size: 18px;
    color: white;
}

/* Hide default checkbox */
.check-box input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

/* Create a new checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 18px;
    width: 18px;
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked~.checkmark {
    background-color: #2196F3;
}

/* Show the checkmark when checked */
input:checked~.checkmark::after {
    display: block;
}

/* Style the checkmark */
.checkmark::after {
    display: none;
    position: absolute;
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: "";
}

.btn-login {
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 100px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-forgot {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

/* end main */